<form action="/register" method="POST">
    <div class="form-group">
        <label for="email_address">Email</label>
        <input class="form-control" name="email_address" type="text" placeholder="example@example.com" />

        <label for="password">Password</label>
        <input class="form-control" name="password" type="password" />

        <label for="password_confirm">Confirm Password</label>
        <input class="form-control" name="password_confirm" type="password" />
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
