<div id="short_url_copy_success_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Tomi URL Shortener</h4>
      </div>
      <div class="modal-body">
        <div id="short_url_copy_modal__success" class="alert alert-success hidden">Short URL copied successfully</div>
        <div id="short_url_copy_modal__error" class="alert alert-danger hidden">Failed to copy Short URL - Possibly do to browser compatibility - Please copy it manually</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
