{% extends "base.html"%}
{% block main %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>URL Shortener - Home</h1>
    </div>
</div>
<div class="row">
    <div id="new_url_form_wrapper" class="col-md-6 col-md-offset-3">
        {% include 'forms/new_url_form.html' %}
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div id="short_url_response_wrapper" class="alert alert-success hidden margin-v-medium short-url-response-form" role="alert">
            <p>Short URL: <a href="" id="short_url_response" class="alert-link"></a></p>
        </div>
        <input id="short_url_copy_target" type="text" />
        <button id="copy_short_url_button" class="btn btn-primary hidden">Copy Short URL</button>
    </div>
    {% include 'fragments/short_url_copy_success_modal.html' %}
</div>
{% endblock %}
{% block scripts %}
    <script src="/static/js/main.js"></script>
{% endblock %}
